body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f7ebeb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.book {
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;
  background: #fff;
  border: 1px solid black;
  border-radius: 5px;
}

.title {
  font-size: 1rem;
  color: red;
}

.author {
  letter-spacing: 5px;
  color: green;
}

h1 {
  color: blue;
}

@media screen and (min-width: 768px) {
  .books {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}